@use './base/reset';

* {
  font-family: "Roboto", Arial, sans-serif;
  transition: all 0.75s;
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.dark {
  color: #000;
}

.light {
  color: #fff;
}